.wrapper {
    width: 500px;
    height: 600px;
    padding-left: 100px;
}

.userInfo {
    position: relative;
    background-color: #CFD9DB;
    border: 5px solid #A4A6A6;
    border-radius: 5px;
}

.userPhoto {
    width: 45%;
    height:100%;
}

.userName {
    width: 45%;
    height:20%;
}

.userDesc {
    width: 45%;
    height:80%;
}

.twitterFeed {
    position: relative;
    background-color: #CFD9DB;
    border: 5px solid #A4A6A6;
    border-radius: 5px;
}